// ======= Variables =======
// Colors
$clr-primary-800: #0D0D0D;
$clr-primary-500: #272727;
$clr-primary-300: #5F5F5F;
$clr-primary-200: #c4c4c4;
$clr-primary-100: #ffffff;
$clr-accent: #D62828;


$clr-btn-color: $clr-primary-100;
$clr-btn-background: $clr-accent;

$clr-quote-background: $clr-primary-300;

html * {
    font-family: 'Roboto', sans-serif;
}

// ======= Components =======
.btn {
    color: $clr-btn-color;
    background-color: $clr-btn-background;

    width: 7.5rem;
    // height: 2rem;

    line-height: 2rem;

    text-align: center;
    justify-content: center;

    border: none;
    border-radius: 5px;

    font-weight: 600;

    cursor: pointer;


    &--full {
        @extend .btn !optional;

    }

    &--transparent {
        @extend .btn !optional;

        background-color: none;
        border: 2px solid $clr-btn-color;
    }
}

// ======= Homepage =======
// Header - bar
header {
    background-color: $clr-primary-500;
    color: $clr-primary-100;

    padding: 0 100px;

    scroll-snap-align: start;

}


.header__bar {
    &__container {
        display: flex;
        flex-direction: row;

        // width: 100%;
        height: 5rem;

        justify-content: center;
        align-items: center;

        padding-left: 20px;
        padding-right: 20px;
    }

    &__title {
        padding: 5px 10px;
        font-size: 24px;
    }

    &__link {
        color: $clr-primary-200;
        text-decoration: none;
        padding: 5px 7px;

        &:nth-child(2) {
            margin-left: auto;
        }

        &:hover {
            color: $clr-primary-100;
        }
    }



}

.body-wrapper {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;

    overflow-y: scroll;
    scroll-snap-type: y proximity;

    perspective: 10px;
}

.parallax {
    &__container {
        position: relative;
        width: 100%;
        height: 100%;

        transform-style: preserve-3d;
        z-index: -1;

    }

    &__background {
        position: absolute;
        height: 100%;
        width: 100%;
        left: -25px;
        z-index: -1;

        object-fit: cover;

        transform: translateZ(-30px) scale(4);
    }

    &__foreground {
        position: absolute;
        height: 100%;
        width: 100%;
        right: 0;
        bottom: 0;
        z-index: -1;

        object-fit: cover;


        transform: translateZ(-10px) scale(2);
    }


    // Header - banner
    &__floating-banner {
        &__container {
            position: absolute;

            left: 40%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);

            width: 50%;
            height: 40%;

            padding: 2rem;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            background-color: transparent;

            &::after {
                content: '';
                width: 100%;
                height: 100%;
                background-color: $clr-primary-500;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;

                opacity: 0.65;
                border-radius: 2rem;
            }
        }

        &__title {
            font-size: 48px;
            font-weight: 900;
            color: $clr-primary-100;
            margin: 0;
        }

        &__description {
            font-size: 18px;
            color: $clr-primary-200;
        }

        &__btn {}
    }
}

main {
    background-color: $clr-primary-100;
}

// Showcase
.showcase {
    &__container {
        display: flex;
        flex-direction: column;

        width: 100%;

        scroll-snap-align: start;

    }

    &__title {
        width: 100%;
        text-align: center;

        font-size: 36px;
        font-weight: 900;

        color: $clr-primary-800;
    }

    &__cards-container {
        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: space-between;

        margin: 20px auto;
    }

    &__card {
        width: 150px;
        height: 180px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin: 0 15px;

        &__img {
            width: 150px;
            height: 150px;

            object-fit: cover;

            border: 2px solid $clr-accent;
            border-radius: 5px;
        }

        &__title {
            margin-top: 5px;
            color: $clr-primary-800;
        }
    }
}

// Quote
.quote {
    &__container {
        background-color: $clr-primary-500;
        color: $clr-primary-200;

        padding: 130px 100px;
        scroll-snap-align: start;
    }

    &__text {
        font-size: 36px;
        font-weight: 300;
        font-style: italic;

        text-align: center;

    }

    &__author {
        color: $clr-primary-100;
        font-weight: 700;
        text-align: end;

    }
}

// Floating card
.action__floating-card {
    width: 80%;
    height: 100px;
    background-color: $clr-accent;


    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: 50px auto;
    padding: 0 50px;

    border-radius: 10px;

    color: $clr-primary-100;

    &__text-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;


    }

    &__title {
        font-size: 1.2em;
        font-weight: 600;
        margin: 0;
    }

    &__description {
        color: $clr-primary-100;
        margin: 0;
    }

    &__btn {}
}

// Footer
footer {
    width: 100%;
    height: 175px;
    background: $clr-primary-500;

    color: $clr-primary-100;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    scroll-snap-align: start;

    .copyright__text {
        font-size: 18px;
        font-style: italic;
        font-weight: 300;
    }
}